* {
  margin: 0;
  padding: 0;
  list-style: none; }

html, body {
  width: 100%;
  height: 100%; }

header {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  header img {
    margin: 0.34rem 0.384rem;
    height: 2.13rem;
    margin-top: 0.3rem; }
  header p {
    margin-top: 0.5rem;
    font-size: 0.768rem;
    color: #000000;
    line-height: 2.13rem; }
  header .tubiao {
    display: flex;
    justify-content: space-around;
    margin-top: -0.6rem; }
    header .tubiao div {
      margin: 0.34rem 0.384rem;
      line-height: 1.28rem; }
      header .tubiao div .p1 {
        height: 0.96rem;
        font-size: 0.704rem;
        color: #999999; }
      header .tubiao div .p2 {
        height: 0.96rem;
        font-size: 0.704rem; }
      header .tubiao div p {
        font-size: 0.47rem;
        color: #999;
        text-align: center; }

.ditu {
  width: 100%; }
  .ditu img {
    width: 100%; }

.tu3 {
  width: 100%;
  display: flex; }
  .tu3 div:nth-of-type(1) {
    width: 50%;
    align-content: center; }
    .tu3 div:nth-of-type(1) .icon-location {
      font-size: 1.49rem;
      background-color: #39C895;
      color: white;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      text-align: center;
      line-height: 2rem;
      margin-left: 3rem; }
    .tu3 div:nth-of-type(1) p {
      margin-top: 0.68rem;
      color: #333333;
      align-content: center;
      text-align: center; }
  .tu3 div:nth-of-type(2) {
    margin-left: 3rem;
    align-content: center; }
    .tu3 div:nth-of-type(2) .icon-tel {
      margin-left: 0.7rem;
      font-size: 1.49rem;
      background-color: #39C895;
      color: white;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      text-align: center;
      line-height: 2rem; }
    .tu3 div:nth-of-type(2) p {
      margin-top: 0.68rem;
      align-content: center;
      text-align: center;
      color: #333333; }

.erweima {
  width: 100%;
  text-align: center;
  background-color: #F4F4F4; }
  .erweima img {
    margin-top: 0.53rem; }
  .erweima p {
    margin-top: 0.53rem;
    margin-bottom: 0.96rem; }

.jieshao {
  margin-top: 0.768rem;
  margin-left: 0.384rem;
  margin-right: 0.384rem; }
  .jieshao p {
    font-size: 0.6rem;
    color: #333333; }

.hr2 {
  margin-top: 0.39rem;
  height: 0.9rem;
  background-color: #f4f4f4;
  border: 0; }

.fuwu {
  text-align: center; }
  .fuwu .wei {
    margin-top: 0.4rem;
    text-align: center;
    font-size: 0.512rem;
    color: #999999; }
  .fuwu p {
    margin-top: 0.768rem;
    color: #55A532;
    display: flex;
    justify-content: center;
    font-size: 0.68rem; }
    .fuwu p span {
      font-size: 0.6rem;
      color: #333333; }
  .fuwu ul {
    font-size: 0.68rem;
    display: flex;
    justify-content: space-around; }
